<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mtrailproductid"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.mtrail.goodies.product"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="de.mtrail.goodies.product">
         </property>
      </product>
   </extension>

</plugin>
