<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target includeMode="feature" name="Mtrail Goodies" sequenceNumber="1568289381">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">

      
      <!-- Using separate bundles insteaad of features -->
      <!-- Eclemma / Jacoco -->
      <unit id="org.eclipse.eclemma.core" version="3.1.2.201903112331"/>
      <unit id="org.eclipse.eclemma.ui" version="3.1.2.201903112331"/>
      <unit id="org.jacoco.core" version="0.8.3.v20190219-1601"/>
      <unit id="org.jacoco.report" version="0.8.3.v20190219-1601"/>
      <unit id="org.jacoco.agent" version="0.8.3.v20190219-1601"/>
      <unit id="org.objectweb.asm" version="7.0.0.v20181030-2244"/>
      <unit id="org.objectweb.asm.commons" version="7.0.0.v20181030-2244"/>
      <unit id="org.objectweb.asm.tree" version="7.0.0.v20181030-2244"/>
      
      <repository id="eclipse-2019-06" location="http://download.eclipse.org/releases/2019-06/"/>
    </location>
  </locations>
</target>