<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target includeMode="feature" name="Mtrail Goodies" sequenceNumber="1568289381">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2023-09"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.29.0.v20230903-1000"/>
			<unit id="org.eclipse.eclemma.feature.feature.group" version="3.1.7.202306070845"/>
		</location>
	</locations>
</target>